# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  graphics, grDevices
)
importFrom("stats", "as.dendrogram", "order.dendrogram")
importFrom("methods", "is")
